<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng ký</title>
    <meta charset="UTF-8">
</head>
<body>
<h2>Form Đăng ký</h2>
<form th:action="@{/register}" th:object="${userDTO}" method="post">

    <p>
        <label for="username">Username:</label><br>
        <input type="text" th:field="*{username}" id="username"/>
        <br><span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red"></span>
    </p>

    <p>
        <label for="password">Password:</label><br>
        <input type="password" th:field="*{password}" id="password"/>
        <br><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></span>
    </p>

    <p>
        <label for="email">Email:</label><br>
        <input type="email" th:field="*{email}" id="email"/>
        <br><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></span>
    </p>

    <p th:if="${usernameError}" style="color:red" th:text="${usernameError}"></p>

    <button type="submit">Đăng ký</button>
</form>
</body>
</html>
