<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminLayout}" lang="vi">

<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Trang chủ Admin</title>
</head>

<body>
<div layout:fragment="content">
    <h1>Thống kê</h1>
    <p>Tổng số người dùng: <span th:text="${userCount}">0</span></p>
    <p>Tổng số sản phẩm: <span th:text="${productCount}">0</span></p>
    <p>Tổng số đơn hàng: <span th:text="${orderCount}">0</span></p>
</div>
</body>
</html>
